In [1]:
import pandas as pd

# Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [57]:
df_ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [58]:
# Время жизни для каждой строки
df_ratings['life_time'] = df_ratings['timestamp'].max() - df_ratings['timestamp'].min()

In [59]:
# Получение списка пользователей с 100+ оценками
df_ratings_100 = df_ratings.groupby(['userId']).count().query('rating > 100')

In [60]:
# Соединение списка отобранных пользователей и удаление дубликатов пользователей, для коррекного подсчета среднего значения
df_ratings_100_j = df_ratings_100.reset_index().merge(df_ratings, on = 'userId', how = 'left')
df_ratings_100_j.drop_duplicates(subset = ['userId'], keep = 'last', inplace = True)

In [62]:
# Среднее время жизни пользователей
df_ratings_100_j['life_time_y'].mean()

686988635.0

# Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:
* таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
* аналогичную таблицу по типам выручки с указанием адреса клиента

In [89]:
# Формирование дата-фреймов для работы

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

Предположим что client_base содержит в себе полный список клиентов и значения id действительно уникальны и не содержат дубликатов

In [90]:
# Список без адреса
client_base_no_address = client_base[['client_id']]
client_base_no_address_rzd = client_base_no_address.merge(rzd, how = 'left', on = 'client_id')
client_base_no_address_auto = client_base_no_address_rzd.merge(auto, how = 'left', on = 'client_id')
client_base_no_address_final = client_base_no_address_auto.merge(air, how = 'left', on = 'client_id')
client_base_no_address_final

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

In [91]:
# Список с адресом
client_base_no_address_rzd = client_base.merge(rzd, how = 'left', on = 'client_id')
client_base_no_address_auto = client_base_no_address_rzd.merge(auto, how = 'left', on = 'client_id')
client_base_no_address_final = client_base_no_address_auto.merge(air, how = 'left', on = 'client_id')
client_base_no_address_final

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           NaN          NaN
1        112   Энтузиастов 8а       2810.0           NaN          NaN
2        113  Левобережная 1а      10283.0       57483.0          NaN
3        114          Мира 14       5774.0          83.0          NaN
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          NaN        4834.0          4.0
6        117  Панфиловская 33          NaN          98.0         13.0
7        118     Мастеркова 4          NaN           NaN        173.0

# Задание 3

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок? Для составления ответа можно использовать вопросы:
* У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?
* Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?
* Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

Первое что приходит в голову - при наличии времени визита/покупки и времени получения координат, сджойнить эти таблицы по дате и id посетителя.
Либо если коориднаты отмечаются только при посещениях и покупках и данные в таблицы ложатся друг за другом, можно соотнести номер координаты и номер визита/покупки - но такой вариант ненадежный и трудоёмкий.
Так что если нет даты или каких-либо других идентификаторов в таблицах, то их не связать.

А вообще эти данные могут быть очень полезны. Например, можно вытаскивать страну, город покупателя и строить на этом статистику.